@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.site_background {
  color: #fff;
  background: #000;
  font-family: 'Poppins';
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  font-family: 'Roboto';
}

a {
  text-decoration: none !important;
}

.glassCard {
  opacity: 0;
  width: 80%; 
  height: 80%; 
  position: absolute; 
  left: 50%;
  top: 800px;
  transform: translate(-50%); 
  overflow: scroll;
  /* border-radius: 20px; */
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: top 1s, opacity 1s;
}

.interestCard{
  border: 1px solid white;
}
.experienceCard{
  background: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}