.header{
text-align: center;
margin-top:-8px;
margin-left:-8px;
margin-right:-8px;
padding: 2px;
background: #3498db;
color: white;
text-transform: uppercase;
letter-spacing: 10px;
font-family: 'Permanent Marker', cursive;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
  background-image: url(../images/background.jpg);
  height: 100%; 
}
.home{
float: left;
width: 10%;
}
.contact{
margin-left: -8px;
margin-right: -8px;
margin-top: 40px;
padding:30px;
text-transform: uppercase;
letter-spacing: 10px;
font-family: "Courier new";
background: #3498db;
box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
text-indent: 50px;
}
.content{
font-size: 21px;
margin-left: auto;
margin-right: auto;
margin-top: 80px;
margin-bottom: 80px;
border: 2px solid white;
border-radius: 10px;
box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
width: 80%;
padding: 21px;
background: white;
font-family: 'Zilla Slab', cursive;
}
.codeBlock{
background: black;
padding:3px;
color: white;
width: 100%;
border: 2px solid black;
border-radius: 4px;
padding: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
text-align:center;
font-family: 'Comfortaa', sans-serif;
color:#3498db;
}
h3{
font-family: 'Comfortaa', sans-serif;
color:#3498db;
}
.image{
	width: 90%;
}
.ads{
	margin:10px;
	text-align: center;
}
.card-shadow{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.footer{
	background-color: black;
	padding: 10px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-right: 30px;
}